.create-form {
    text-align: left;
    justify-content: center;
    width: 350px;
    flex-direction: column;
    row-gap: 2px;
    background-color: white;
    padding: 20px;
    border-radius: 5%;
    margin-bottom: 30px;
    box-shadow: 5px 2px 15px -7px #888;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.create-form input {
    width: 95%;
    height: 40px;
    background-color: #e5e8ef;
    border: none;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-form select {
    width: 98%;
    height: 40px;
    background-color: #e5e8ef;
    border: none;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-form button {
    width: 90px;
    height: 35px;
    background-color: dodgerblue;
    border-radius: 5%;
    color: white;
    border: none;
    margin-top: 10px;
}

.create-form button:hover {
    background-color: blue;
}

.create-form a {
    font-size: 25px;
    color: rgba(127, 127, 120, 0.75);
    font-weight: 700;
}

.close-button:after {
    content: "\00d7";
}

.close-box {
    margin-left: 95%;
}

.errors {
    color: red;
}