.App{
    background-color: #f6f5f5;
}

.main-info{
    width: 70%;

}
.button-create {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5%;
    margin: 20px 20px 20px 59%;
}

.button-create:hover {
    background-color: blue;
}

.menu {
    display: flex;
}

.form {
    height: fit-content;
}


